ACTION=="add", SUBSYSTEM=="input", ATTRS{name}=="AB Shutter3", TAG+="systemd", PROGRAM="/bin/systemd-escape -p --template=btbutton-mqtt@.service $env{DEVNAME}", ENV{SYSTEMD_WANTS}+="%c"
